<!DOCTYPE html>
<html>
<head>
    <title> Urban Gardening </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--_____LEAFLET CSS_____-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<!--_____LEAFLET DRAW CSS_____-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<!--_____OWN CSS_____-->
<link rel="stylesheet" href="stylesheets/headerFooterCustom.css"/>
<link rel="stylesheet" href="stylesheets/leaflet_style.css">
<link rel="stylesheet" href="stylesheets/style.css">
<!--_____LEAFLET JAVASCRIPT_____-->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<!--_____LEAFLET DRAW JAVASCRIPT_____-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<!--_____JQUERY AJAX JAVASCRIPT_____-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div id="main" class="container-fluid no-gutters">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top p-1">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active rounded" href="garden_overview">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" href="about-not-logged-in">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" href="registration">Sign Up</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--Main Content-->
    <div id="contentFrame" class="d-flex justify-content-center flex-wrap mb-5">
    <div id="textContent" class="row col col-lg-8 col-12 rounded mb-5">
        <div id="content"class="bgText p-1 rounded">
            <div id="title">
                <h2>Legal Disclosure</h2><br>
            </div>
            <div id="impressum" class="container-fluid">
                <div class="row">
                    <div id="personalDataHoping" class="column">
                        <br>
                        <h4>Contact Information</h4>
                        <p>Jan Hoping<br />
                        
                        E-Mail: jhoping@uni-muenster.de</p>
                        <p>Lukas Ahlert<br />
                        E-Mail: lahlert@uni-muenster.de</p>
                    </div>
                </div>
            </div>
            <div id="sourceData" class=container-fluid>
                <div class="row">
                    <div class="column">
                        <a href="https://github.com/jakobdanel/city-lab"><u>Tourguide on GitHub</u></a></p>
                    </div>
                </div>
                <div class="row">
                    <span><p>
                        <h3>Disclaimer</h3>

                        <h4>Accountability for content</h4>
                            <p> 
                                The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents’ accuracy, 
                                completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. 
                                In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, 
                                or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally 
                                applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
                            </p>

                        <h4>Accountability for links</h4>
                            <p> 
                                Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. 
                                No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.
                            </p>

                        <h4>Privacy Statement</h4>
                            <b>General</b>
                            <p>
                                Your personal data are processed by us only in accordance with the provisions of German data privacy laws. 
                                The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data. 
                                This data privacy policy applies only to our web pages. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.
                            </p>
                            <b>Inventory data</b>
                                <ol>
                                    <li>
                                        Your personal data, insofar as these are necessary for this contractual relationship (inventory data) in terms of its establishment, 
                                        organization of content and modifications, are used exclusively for fulfilling the contract. For goods to be delivered, for instance, 
                                        your name and address must be relayed to the supplier of the goods.
                                    </li>
                                    <li>
                                        Without your explicit consent or a legal basis, your personal data are not passed on to third parties outside the scope of fulfilling this contract. 
                                        After completion of the contract, your data are blocked against further use. After expiry of deadlines as per tax-related and commercial regulations, 
                                        these data are deleted unless you have expressly consented to their further use.
                                    </li>
                                </ol>
                    </p></span>
                </div>
            </div>
        </div>
    </div>
    
    </div>
</div>
<!-- FOOTER-->
<footer id="myFooter" class="row col col-12 d-flex flex-column align-items-left">
    <div class="row col col-12 d-flex flex-column ">
        <p><b>Links</b><br>
            <a href="https://www.uni-muenster.de/de/">University</a><br>
            <a href="https://github.com/jakobdanel/city-lab">GitHub Repository</a><br>
            <a href="impressum">Legal</a>
        </p>
    </div>
    <div id="copyrightText" class="footer-copyright">
        <p>© 2022 Urban Gardening Project </p>
    </div>
</footer>

<!-- JQUERY AND BOOTSTRAP JAVASCRIPT-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
  </script>
</body>
</html>