
#startmap {
  width: 600px; 
  height: 600px;
  display: inline-block;
  box-shadow: 5px 5px 10px;
  box-shadow: grey;
}

  @media screen and (max-width: 1560px) {
    #startmap {
        width: 450px; 
        height: 450px;
    }
  }
  
  
  @media screen and (max-width: 767px) {
      #startmap {
        width: 300px; 
        height: 300px;
        box-shadow: none;
    }
  }
  
  #mapdiv {
    width: 600px; 
    height: 600px;
    display: inline-block;
    box-shadow: 5px 5px 10px;
    box-shadow: grey;
  }
  
    @media screen and (max-width: 1560px) {
      #mapdiv {
          width: 450px; 
          height: 450px;
      }
    }
    
    
    @media screen and (max-width: 767px) {
        #mapdiv {
          width: 300px; 
          height: 300px;
          box-shadow: none;
      }
    }