body {
  margin: 0;
  padding:0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #90c7b2 !important;
  min-height: 100vh;
  background-image: url("../src/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  flex-direction: column;
}
#main{ height: 100vh;
  width: 100%;
  flex: 1;}
#contentFrame{
  position: relative;
  top: 5rem;
  color:rgb(255, 255, 255)
}
#spacer{
  height: 6.5rem;
  width: 100%;
}
.btn-green{
  background-color: #006664 !important;
  color: white !important;
}
  label {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: left;

  }
  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: left;
    font-size: 22px;
    color: rgb(255, 255, 255);
    
  }
  table,
  form {
    /* width: 500px; */
    margin: 20px auto;
  }
  table {
    border-collapse: collapse;
  }
  table tr,
  table td,
  table th {
    border: solid 1px rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    padding: 5px;
  }
thead{
  background-color: #004241;
}
.teven{
  background-color: #618b7b !important;
  color:rgb(0, 0, 0) !important;
}
.todd{
  background-color: #006664 !important;
}
  label,
  input {
    display: block;
    margin: 10px 0;
    font-size: 20px;
  }
  button {
    display: block;
  }


.loginbox{
    background: #0042418e !important;
    color: #fff;
    box-sizing: border-box;
}

.avatar{
  width:100px;
  height: 100px;
  border-radius:50%;
  position: absolute;
  top: -50px;
  left: calc(50%-50px);
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #8fcc00;
    color: #fff;
    font-size: 18px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: rgb(0, 0, 0);

}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

.loginbox a:hover
{
  color: #ffc107;
}
.deleteImage:hover{
  cursor: pointer;
  border-width: 2px;
  border-color: rgba(163, 4, 4, 0.904);
  border-style: dashed;
}
.has-details {
  position: relative;
}

.details {
  position: absolute;
  top: 0;
  transform: translateY(10%) scale(0);
  transition: transform 0.1s ease-in;
  transform-origin: left;
  display: inline;
  background: white;
  color: black;
  z-index: 20;
  min-width: 100%;
  width: max-content;
  padding: 1rem;
  border: 1px solid black;
  text-align: left;
}

.has-details:hover span {
  transform: translateY(10%) scale(1);
}
.radio-btn-green{
  border-color: #006664;
  color: white !important;
}
.radio-btn-green:checked + label{
  background-color: #006664 !important;
  color: white !important;
}
.radio-btn-green:hover + label{
  background-color: #90c7b2 !important;
  color: #004241 !important;
}
input[type="password"] {
  background-color: white;
}
.bgText{
  background-color: #0042418e;
}
input[type="text"], select{
  width:100%;
  box-sizing: border-box;
}